[user]
	email = 5686806+tjbearse@users.noreply.github.com
	name = TJ Bearse
[push]
	default = simple
[core]
	editor = vi
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	co = checkout
	br = branch
	st = status
	cm = commit
	a = add
	branch-name= "!git rev-parse --abbrev-ref HEAD"
	npush = "!git push -u origin $(git branch-name)"

	f = "!git ls-files -m | sort -u | fzf -m"
	cof = "!fn() { git co $@ -- $(git f); }; fn"
	af = "!fn() { git add $@ -- $(git f); }; fn"
	# cob = "!git co $(git for-each-ref --format='%(refname)' refs/heads | sed 's#^refs/\w\+/##' | sort -u | fzf)"
[url "git@github.com:"]
	insteadOf = https://github.com
[init]
	defaultBranch = main
